.contents {
    padding: 20px;
    font-size: calc(10px + 1.5vmin);
}

.image {
    width: 80vw;
}

@media screen and (min-width: 576px) {
    .image {
        width: 50vw;
    }
}

.section{
    color:  #8ED973;
}