.contents {
    padding-top: 20px;
    padding-right: 5vw;
    padding-left: 5vw;
    font-size: calc(10px + 1.5vmin);
}

.image {
    width: 80vw;
}

@media screen and (min-width: 576px) {
    .image {
        width: 50vw;
    }
}

.section {
    color: #8ED973;
}

/* テーブル */
table {
    border-collapse: collapse;
    width: 90vw;
}

th,
td {
    border: solid 1.5px;
    border-color: rgb(152, 152, 152);
    padding: 5px;
    background-color: #f2f0f0;
}

th {
    background-color: rgb(184, 251, 184);
}