.logo{
    padding-right: 10px;
}

.brandName{
    padding-right: 3px;
    padding-left: 3px;
    font-weight: bold;
}

.navLink{
    margin-right: 5px;
    margin-left: 5px;
}

.navLink:hover{
    background-color: #8ED973;
}

.brandName:hover{
    background-color: #8ED973;   
}